################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/glory.BookStore/.vs/glory.BookStore/v16
/glory.BookStore/glory.BookStore/obj
