
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/logo.png" class="logo" />

    <h1>welcome to book store application</h1>
</body>
</html>
