

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <button class="btn btn-outline-info my-2 my-sm-0 m-2" style="cursor:default">
        Merhaba  @(User.FindFirst("UserFirstName").Value+" "+User.FindFirst("UserLastName").Value)  <!--#101-->
    </button>
    <button class="btn btn-outline-danger my-2 my-sm-0 m-2" asp-action="logout" asp-controller="account">
        çıkış yap
    </button>
    <button class="btn btn-outline-warning my-2 my-sm-0 m-2" asp-action="changepassword" asp-controller="account">
        şifreyi değiştir
    </button>

}
else
{
    <button class="btn btn-outline-info my-2 my-sm-0 m-2" type="submit" asp-controller="account" asp-action="login" asp-route-returnUrl="@Context.Request.Path">giriş</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" asp-controller="account" asp-action="signup">kaydol</button>

}

