@model EmailConfirmModel 
@{
    ViewData["Title"] = "ConfirmEmail";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            @if (Model.EmailVerified == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>your email has ben verified successfully.s</p>
                </div>
            }
            else
            {
                if (Model.EmailSent)
                {
                    <p class="text-danger display-4"> bir şeyler ters gitti :(</p>
                }
                else
                {
                    <p>hesabınızı onaylamak için mail adresinize gidin.</p>
                }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="ConfirmEmail">
                        <input type="hidden" asp-for="Email" />
                        <div class="form-group">
                            <input type="submit" value="email onayla" class="btn btn-primary" />
                        </div>
                    </form>

            }

        </div>
    </div>
</div>